@font-face {
    font-family: 'ShadowsIntoLight-Regular';
    src: url("./font/ShadowsIntoLight-Regular.ttf") format('truetype');
}

header {
    background-image: url("./images/Bagel1.jpeg");
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    margin: 20px 20px 20px 20px;
}



nav {
    margin-bottom: 50px;
}

.logo {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 60px;
    top: 100px;
    background-color: aliceblue;
    color: black;
    align-items: center;
    padding: 20px 5px;
    border-radius: 8px;
}

@font-face {
    font-family: 'Fsthand';
    src: url('./font/Fasthand-Regular.ttf') format('truetype');
}

body {
    font-family: 'ShadowsIntoLight-Regular', Arial;
}
