@font-face {
    font-family: 'ShadowsIntoLight-Regular';
    src: url("./font/ShadowsIntoLight-Regular.ttf") format('truetype');
}

header {
    background-image: url("./images/Bagel1.jpeg");
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    margin: 20px 20px 20px 20px;
}



nav {
    margin-bottom: 50px;
}



body {
    font-family: 'ShadowsIntoLight-Regular', Arial;
}
