header {
    background-image: url("./images/Bagel1.jpeg");
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    margin: 20px 20px 20px 20px;
}



nav {
    margin-bottom: 50px;
}

@font-face {
    font-family: 'Fsthand';
    src: url('./font/Fasthand-Regular.ttf') format('truetype');
}

body {
    font-family: 'Fsthand', sans-serif;
}
